<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lastproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_blue"
        android:label="Campus"
        android:roundIcon="@color/white"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".change_travel"
            android:exported="true" />
        <activity
            android:name=".change_my_name"
            android:exported="true" />
        <activity
            android:name=".change_student_name"
            android:exported="true" />
        <activity
            android:name=".Support_page"
            android:exported="true" />
        <activity
            android:name=".forgot_password"
            android:exported="true" />
        <activity
            android:name=".event_details"
            android:exported="true" />
        <activity
            android:name=".teacher_cr_travel_participants_list"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCVSDO5LAblYAfKjRvMGHtWkxWYLwk51sQ" />

        <activity
            android:name=".teacher_creation_of_travel"
            android:exported="true" />
        <activity
            android:name=".qr_scanner"
            android:exported="true" />
        <activity
            android:name=".report_for_student"
            android:exported="true" />
        <activity
            android:name=".report_for_teacher"
            android:exported="true" />
        <activity
            android:name=".teacher_Student_Profile"
            android:exported="true" />
        <activity
            android:name=".Teacher_Main_Screen"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".Create_Report"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true" />
        <activity
            android:name=".LoginScreen"
            android:exported="true" />
        <activity
            android:name=".HelloScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>